.play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: none;
    z-index: 2;
    background-color: var(--primary);
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
        content: '';
        width: 0;
        height: 0;
        border-left: 20px solid white;
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent;
        margin-left: 4px;
    }
}
