.wrapper {
    min-height: 900px;
    background-color: white;
    box-shadow: 0px 4px 48px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
}

// Content 
.content {
    padding: 56px;
    display: flex;
    justify-content: space-between;
}

//Tour List 
.tour-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

// Book Tour
.book-tour {
    width: 444px;
    height: 750px;
    background-color: #EDEDED;
    padding: 40px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        font-size: 42px;
        color: var(--header-color);
        font-family: var(--font-family-header);
        margin-bottom: 12px;
    }

    .description {
        font-size: 16px;
        color: black;
        margin-bottom: 32px;
    }



}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 24px;
}

.form-item {
    height: 76px;
    display: flex;
    align-items: center;
    position: relative;


}

.input-box {
    width: 100%;

    &:focus-within .input-icon {
        opacity: 1;
    }

    &:focus-within .input {
        border: 1px solid var(--primary);
        color: var(--text-color);
    }
}

.input-icon {
    position: absolute;
    left: 12px;
    width: 20px;
    height: 20px;
    opacity: 0.4;
}

.input {
    width: 100%;
    height: 100%;
    color: rgba(0, 0, 0, 0.26);
    padding: 10px 12px 10px 40px;
    font-size: 18px;
    outline: none;
    transition: border 0.2s;
}


// Hidden defautl calendar icon
.input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    display: none;
}

.input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

// Price Filter
.price-filter {
    width: 100%;
    background: #ededed;
    padding: 16px 0 0 0;
    border-radius: 4px;
}

.price-filter-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
    letter-spacing: 1px;
    color: var(--title-color);
}
