.side-bar {
    padding: 24px;
    flex: 1;
    background-color: white;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);

}

.side-bar-header {
    color: var( --title-color);
}