.wrapper {
    padding-top: 120px;
    text-align: center;
}

.label {
    color: var(--primary);
    font-weight: 700;
    font-size: 24px;
}

.title {
    font-size: 48px;
    font-family: var(--font-family-header);
    color: var(--header-color);
    margin-bottom: 56px;
}

.slider-container {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.slider-container::before,
.slider-container::after {
    content: "";
    position: absolute;
    top: 0;
    width: 20px;
    height: 100%;
    z-index: 1;
}

.slider-container::before {
    left: 0;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
}

.slider-container::after {
    right: 0;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
}

.slider {
    position: relative;
    width: 100%;
    height: calc(150px + 10px);
    overflow: hidden;
}

.slider-track {
    position: absolute;
    top: 0;
    display: flex;
}

.slide {
    width: 320px;
    height: 150px;
    border-radius: 8px;
    margin: 0 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: inherit;
    transition: all 0.5s ease-in-out;
    user-select: none;
}

.slide img:hover {
    transform: rotate(2deg) scale(1.2);
}

.scrollLeft {
    animation: scrollLeft 50s linear infinite;
}

.scrollRight {
    animation: scrollRight 50s linear infinite;
}

@keyframes scrollLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-1 * 4 * (320px + 10px * 2)));
    }
}

@keyframes scrollRight {
    0% {
        transform: translateX(calc(-1 * 4 * (320px + 10px * 2)));
    }

    100% {
        transform: translateX(0);
    }
}

.slider-track:has(.slide img:hover) {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}