.wrapper {
    width: 100%;
    display: flex;
    padding: 12px 24px 12px 0;

}

//menu item
.menu-item {
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 38px;
    gap: 10px;
    color: var(--text-color);
    flex: 1;
    border-right: 1px solid #E1E4E5;
    cursor: pointer;

    svg {
        width: 21px;
        height: 21px;
        color: var(--primary);
    }
}