.wrapper {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 24px;
    align-items: center;

    .notification {
        width: 40px;
        height: 40px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: relative;
       
        svg {
            color: white;
            width: 24px;
            height: 24px;
            
        }

        .badge {
            position: absolute;
            top: 6px;
            right: 9px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: var(--primary);
        }
    }

    .wrap {
        width: 40px;
        height: 40px;
        border-radius: 8px;
         background-color: #EDEDED;

        svg {
            color: #999999;
        }
    }

    .user-info {
        display: flex;
        align-items: center;
        gap: 12px;
        cursor: pointer;

        .avatar {
            width: 40px;
            height: 40px;
            border-radius: 8px;

            .avatar-img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
            }

            .border {
                border-radius: 8px;
            }

        }


        .user-name {
            display: flex;
            flex-direction: column;
            padding: 0 24px 0 4px;

            .name {
                font-size: 16px;
                font-weight: 600;
            }

            .role {
                font-size: 12px;
            }
        }

        .arrow-down {
            color: white;
            width: 14px;
            height: 10px;
            cursor: pointer;
        }

        .black-color {
            color: black;
        }
    }
}

.popover {
    background-color: transparent;
    border-radius: 8px;
    padding: 0;
    min-width: 200px;
}