.wrapper {
    max-width: 260px;
    height: 100vh;
    padding: 12px 32px;
    box-shadow: rgba(33, 40, 50, 0.15) 0px 2.4px 28px 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    z-index: 2;
    scrollbar-gutter: stable;
    overflow-y: hidden;

    &:hover {
        overflow-y: auto;
    }
    
    .logo-link {
        pointer-events: none;
    }

    img {
        margin-bottom: 24px;
        pointer-events: auto;
    }
}

.hidden {
    max-width: 0;
    opacity: 0;
    transform: translateX(-100%);
    padding: 0;
    border-right: none;
}