.header {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 32px;

    svg {
        color: black;
    }

    .title {
        color: var(--title-color);
        font-size: 24px;
        font-weight: 500;
    }
}

.content {
    .no-booking {
        display: flex;
        gap: 24px;

        .desc {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 12px;
            h2 {
                color: black;
                font-size: 18px;
            }
            span {
                font-size: 16px;
            }
        }
    }

    .bookings {
        .card-title {
            font-size: 18px;
            font-weight: 500;
            color: var(--title-color);
            margin-bottom: 12px;
        }

        .card-box {
            border: 1px solid #ddd;
            border-radius: 6px;
            padding: 16px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 24px;
        }
        .card-info {
            display: flex;

            gap: 16px;
        }
        .img {
            width: 100px;
            height: 100px;
            border-radius: 8px;
        }
        .details {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .destination {
                display: flex;
                align-items: center;
                gap: 6px;
            }
        }

        .status-price {
            display: flex;
            gap: 12px;
            font-weight: 600;

            .price {
                color: var(--header-color);
                font-weight: 500;
            }

            .expired {
                color: #6b7280;
            }
            .paid {
                color: #34a853;
            }
            .failed {
                color: #ef4444;
            }
            .cancelled {
                color: #3b82f6;
            }
            .pending {
                color: #fbbf24;
            }
        }

        .tour-title {
            font-weight: 600;
            margin-right: 8px;
            color: var(--header-color);
        }
        .date {
            font-size: 16px;
            color: black;
        }
    }
}

// actions button
.actions {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.button {
    padding: 12px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.view-detail {
    background-color: var(--primary);
    color: white;
}

.payment {
    border: 1px solid var(--primary);
    background-color: transparent;
    color: var(--primary);
}

.view-receipt {
    border: 1px solid var(--primary);
    background-color: transparent;
    color: var(--primary);
}
.book-again {
}
