.wrapper {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    padding-bottom: 120px;
    text-align: center;
    background-color: #F1F1F1;

}

.label {
    color: var(--primary);
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 14px;
    padding-top: 56px;
    text-transform: uppercase;
}

.title {
    font-size: 48px;
    font-family: var(--font-family-header);
    color: var(--header-color);
    margin-bottom: 106px;
}

.swiper {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

.slider {
    overflow: visible;
}