.wapper {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}
//Top header
.top {
    padding: 12px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // border-bottom: 1px solid var(--white);
}
.location {
    display: flex;
    align-items: center;
    gap: 8px;
    .icon {
        width: 20px;
        height: 20px;
    }
}
.location span{
    font-size: 14px;
}
.star-icon {
    width: 20px;
    height: 20px;
    color: #FFDA44;
}

.break-line-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
}

.break-line {
    height: 1px;
    width: 100%;
    background-color: var(--white);
}
.separator {
  margin: 0 8px; 
  color: white;  
  font-weight: normal;
}

//Bottom Header
.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popover {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 8px 12px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.15);
    color: var(--text-color);
}

.popover-item {
    padding: 6px 0;
    cursor: pointer;

    &:hover {
        color: var(--primary)
    }
}