.wrapper {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    padding-bottom: 120px;
    text-align: center;
    background-color: #F1F1F1;
}

.label {
    color: var(--primary);
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 14px;
    padding-top: 56px;
    text-transform: uppercase;
}

.title {
    font-size: 48px;
    font-family: var(--font-family-header);
    color: var(--header-color);
    margin-bottom: 106px;
}

.swiper {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

.slider {
    overflow: visible;
}

.card {
    position: relative;
    width: 620px;
    height: 280px;
    margin: 0 auto;
    background-color: white;
    padding: 100px 52px 44px 52px;
    border-radius: 20px;
    overflow: visible;
    cursor: grab;
}

.avatar {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 154px;
    height: 154px;
    border: 4px solid var(--secondary);
    background: white;
    border-radius: 50%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }
}

.content {
    .stars {
        color: gold;
        font-size: 20px;
        margin-bottom: 16px;
    }

    .feedback {
        font-size: 14px;
        font-weight: 600;
        color: black;
        line-height: 1.6;
        margin-bottom: 24px;
    }

    .author {
        font-family: var(--font-family-header);
        color: var(--header-color);
        font-weight: 700;
        font-size: 16px;
    }
}

.swiper-button-prev,
.swiper-button-next {
    background-color: #e66547;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
        font-size: 16px;
    }
}

.view-more {
    margin-top: 32px;
}