.wrapper {
    width: 100%;
    height: 100%;
    top: 0;
    box-shadow: 0px 4px 48px 0px rgba(0, 0, 0, 0.25);
    transform: translateY(-70.5px);
}

.header {
    width: 100%;
    height: 141px;
    background-color: #EDEDED;
    display: flex;
    align-items: center;
    padding: 0 56px;
    gap: 14px;

    span {
        font-size: 20px;
        color: var(--title-color);
        font-weight: 700;
    }
}


.content {
    width: 100%;
    padding: 32px 56px;
    display: flex;
    justify-content: space-between;
    gap: 100px;

    .payment-method {

        h2 {
            font-size: 24px;
            color: var(--title-color);
            font-weight: 500;
            margin-bottom: 52px;
        }

        .payment-container {
            display: flex;
            gap: 20px;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
        }

        .card {
            width: 204px;
            height: 129px;
            border: 1px solid #ccc;
            padding: 16px;
            border-radius: 10px;
            text-align: center;
            cursor: pointer;
            position: relative;
            transition: all 0.3s ease;

            input[type='radio'] {
                position: absolute;
                top: 8px;
                left: 8px;
                width: 16px;
                height: 16px;
                accent-color: var(--primary); // or use custom checkmark icon if desired
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                margin-bottom: 8px;
            }

            p {
                margin-top: 14px;
                font-weight: 500;
                color: black;
                font-size: 20px;
            }

            &.active {
                border: 2px solid var(--primary);

                input[type='radio'] {
                    border-color: var(--primary);
                }
            }
        }

        .card-form {
            display: flex;
            flex-direction: column;
            gap: 20px;
            max-width: 450px;
            margin-top: 74px;

            label {
                font-weight: 500;
                display: block;
                color: black;
                font-size: 16px;

                .required {
                    color: red;
                    margin-left: 4px;
                }
            }

            .form-group {
                display: flex;
                flex-direction: column;

                input {
                    width: 100%;
                    padding: 24px 12px 24px 52px;
                    border: 1px solid #ccc;
                    border-radius: 8px;
                    font-size: 16px;
                    outline: none;
                    transition: border 0.2s ease;

                    &:focus {
                        border-color: #333;
                    }

                    &::placeholder {
                        color: #aaa;
                    }
                }
            }

            .input-icon {
                position: relative;
                display: flex;
                align-items: center;
                margin-top: 12px;

                svg {
                    position: absolute;
                    left: 24px;
                    width: 18px;
                    height: 18px;
                    color: rgba(0, 0, 0, 0.26);
                }

            }

            .form-row {
                display: flex;
                gap: 16px;
                margin-bottom: 24px;

                .half {
                    flex: 1;
                }
            }


        }


    }

    .tour-info {
        width: 100%;
        height: 100%;
        background-color: #EDEDED;

        .tour-info-top {
            display: flex;
            align-items: center;
            gap: 24px;

            img {
                width: 140px;
                height: 140px;
                object-fit: contain;
            }
        }

        .tour-info-bottom {
        }
    }
}