.wrapper {
    width: 100%;
    height: 100%;
    top: 0;
    box-shadow: 0px 4px 48px 0px rgba(0, 0, 0, 0.25);
    transform: translateY(-70.5px);
}

.header {
    width: 100%;
    height: 141px;
    background-color: #ededed;
    display: flex;
    align-items: center;
    padding: 0 56px;
    gap: 14px;

    span {
        font-size: 20px;
        color: var(--title-color);
        font-weight: 700;
    }
}

.content {
    width: 100%;
    padding: 32px 56px;
    display: flex;
    justify-content: space-between;
    gap: 100px;

    .tour-info {
        width: 100%;
        height: 100%;

        .tour-info-top {
            display: flex;
            gap: 24px;
            padding-bottom: 42px;
            border-bottom: 1px solid #999999;
            img {
                width: 140px;
                height: 140px;
                object-fit: contain;
            }

            .tour-info-content h2 {
                color: var(--title-color);
            }
        }

        .tour-info-bottom {
            margin-top: 32px;
            display: flex;
            flex-direction: column;
            gap: 12px;

            .tour-info-bottom-header {
                color: var(--title-color);
                font-size: 18px;
                font-weight: 600;
            }
        }
    }
}
