// Payment Success
.payment-status {
    margin: 12px 0;
    color: var(--header-color);
}
.payment-messsage {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 24px;

    .img-status {
        width: 24px;
        height: 24px;
    }
}
.success {
}
// Payment failed
.failed {
}
