.wrapper {
    padding-top: 120px;
}


.label {
    color: var(--primary);
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 14px;
    text-transform: uppercase;
}

.title {
    font-size: 48px;
    font-family: var(--font-family-header);
    color: var(--header-color);
    letter-spacing: 0.5px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 56px;
}

.list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}