.banner-content {
    position: relative;
    padding-top: 38px;
    text-align: center;

    @media (max-width: 768px) {
        padding-top: 0;
    }

    .subtitle {
        font-size: 24px;
        font-family: var(--font-family);
        margin-bottom: 8px;
        display: block;
        letter-spacing: 1px;
    }

    h1 {
        font-family: var(--font-family-slogan);
        font-size: 128px;
        font-weight: bold;
        margin-bottom: 48px;

        @media (max-width: 468px) {
            font-size: 72px;
        }

        @media (min-width: 469px) and (max-width: 768px) {
            font-size: 96px;
        }
    }
}
.start-title {
    text-align: start;

    .subtitle {
        font-size: 24px;
        font-family: var(--font-family-slogan);
        margin-bottom: 8px;
        display: block;
        letter-spacing: 1px;

        @media (max-width: 768px) {
            display: none;
        }
    }

    h1 {
        font-family: var(--font-family);
        font-size: 64px;
        font-weight: bold;
        margin-bottom: 48px;

        @media (max-width: 425px) {
            font-size: 32px;
        }

        @media (min-width: 426px) and (max-width: 640px) {
            font-size: 48px;
        }

        @media (min-width: 641px) and (max-width: 768px) {
            margin-bottom: 0;
        }
    }
}
