.wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;

    h3 {
        color: var(--title-color);
        font-size: 24px;
        font-weight: 500;
    }
}

.info {
    width: 100%;
    display: flex;
    gap: 24px;
}
.details {
    flex: 2;
    padding: 32px;
    background-color: white;
    border-radius: 8px;
    box-shadow: -1px 1px 10px 2px rgba(123, 123, 123, 0.1);

}

.right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.other-info {
    flex: 1;
    padding: 32px;
    background-color: white;
    border-radius: 8px;
    box-shadow: -1px 1px 10px 2px rgba(123, 123, 123, 0.1);
}

.bottom-panel {
    min-height: 300px;
    background: white;
    padding: 32px;
    border-radius: 8px;
    box-shadow: -1px 1px 10px 2px rgba(123, 123, 123, 0.1);
}

.fullWidth {
    width: 100%;
}