.wrapper {
    display: flex; 

    .menus {
        width: 100%;
        display: flex;
        gap: 32px;
        justify-content: center;
        align-items: center;
        margin-right: 120px;

        .menu-link {
        color: white;
        font-size: 18px;
        font-weight: 400;

        &:hover {
            border-bottom: 1px solid var(--primary);
        }
    }
    }

    
}